<!DOCTYPE html>
<html>
<head>
    <title>Detalles del Cliente</title>
</head>
<body>
<h1>Detalles del Cliente</h1>
<table>
    <tr>
        <th>ID:</th>
        <td th:text="${cliente.idC}"></td>
    </tr>
    <tr>
        <th>Nombre:</th>
        <td th:text="${cliente.nombre}"></td>
    </tr>
    <tr>
        <th>Apellido:</th>
        <td th:text="${cliente.apellido}"></td>
    </tr>
    <tr>
        <th>Teléfono:</th>
        <td th:text="${cliente.telefono}"></td>
    </tr>
    <tr>
        <th>Email:</th>
        <td th:text="${cliente.email}"></td>
    </tr>
    <tr>
        <th>DNI:</th>
        <td th:text="${cliente.dni}"></td>
    </tr>
    <tr>
        <th>Fecha de Nacimiento:</th>
        <td th:text="${cliente.fechaNacimiento}"></td>
    </tr>
    <tr>
        <th>Cantidad de Reservas Realizadas:</th>
        <td th:text="${cliente.cantidadReservasRealizadas}"></td>
    </tr>
    <tr>
        <th>Multas:</th>
        <td th:text="${cliente.multas}"></td>
    </tr>
    <tr>
        <th>Estado:</th>
        <td th:text="${cliente.estado}"></td>
    </tr>
</table>
</body>
</html>
